<div class="units-row">
    <div class="units-row">
        <div class="unit-25"> &nbsp;
        </div>
        <div class="unit-50">
            <form action="" class="forms" ng-init="user = session.getUser()">
                <label for="current-user-name">
                    Ваше имя
                    <input type="text"
                           class="width-100"
                           name="current-user-name"
                           id="current-user-name"
                           ng-model="user.name.value"
                           ng-disabled="user._states_.editing() === false"
                           ng-change="user._states_.changed(true)"/>
                </label>
                <label for="current-user-fname">
                    Ваше отчество
                    <input type="text"
                           class="width-100"
                           name="current-user-fname"
                           id="current-user-fname"
                           ng-model="user.fname.value"
                           ng-disabled="user._states_.editing() === false"
                           ng-change="user._states_.changed(true)"/>
                </label>
                <label for="current-user-surname">
                    Ваша фамилия
                    <input type="text"
                           class="width-100"
                           name="current-user-surname"
                           id="current-user-surname"
                           ng-model="user.surname.value"
                           ng-disabled="user._states_.editing() === false"
                           ng-change="user._states_.changed(true)"/>
                </label>
                <label for="current-user-email">
                    Ваш e-mail
                    <input type="text"
                           class="width-100"
                           name="current-user-email"
                           id="current-user-email"
                           ng-model="user.email.value"
                           ng-disabled="user._states_.editing() === false"
                           ng-change="user._states_.changed(true)"/>
                </label>
                <label for="current-user-phone">
                    Ваш контактный телефон
                    <input type="text"
                           class="width-100"
                           name="current-user-phone"
                           id="current-user-phone"
                           ng-model="user.phone.value"
                           ng-disabled="user._states_.editing() === false"
                           ng-change="user._states_.changed(true)"/>
                </label>
                <button class="btn btn-blue width-50 right" ng-show="user._states_.editing() === false" ng-click="user._states_.editing(true)">Изменить</button>
                <button class="btn btn-green width-50 left" ng-show="user._states_.changed() === true && user._states_.editing() === true" ng-click="save()">Сохранить</button>
                <button class="btn btn-red width-50 right" ng-show="user._states_.editing() === true" ng-click="user._states_.editing(false); user._backup_.restore()">Отмена</button>
            </form>
        </div>
        <div class="unit-25">&nbsp;</div>
    </div>
</div>