<div id="template-mega" class="units-row">

    <div class="units-row" ng-show="flowers.bouquets._states_.loaded() === false">
        <br/><br/><br/><br/><br/>
        <div class="unit-100 text-centered">
            <img src="resources/img/loading.gif" alt=""/>&nbsp; &nbsp;
            <span>Загрузка...</span>
        </div>
    </div>

    <div id="paginator" class="units-row end" ng-show="flowers.bouquets._states_.loaded() === true">
        <div class="unit-50">
        <span class="chapter-title" class="width-100">
            <!--Всего букетов: {{ pagination.itemsCount }}-->
            МЕГА Букеты
        </span>
        </div>
        <div class="unit-50">
            <ul class="pagination right" ng-show="pagination.totalPages > 1">
                <li ng-show="pagination.currentPage > 1">
                    <a href title="Предыдущая страница" ng-click="pagination.previous()">&larr;</a>
                </li>
                <li ng-show="(pagination.currentPage - 1) > 0">
                    <a href ng-click="pagination.set(pagination.currentPage - 1)">{{ pagination.currentPage - 1 }}</a>
                </li>
                <li class="active-page">
                    <a href ng-click="pagination.set(pagination.currentPage)">{{ pagination.currentPage }}</a>
                </li>
                <li ng-show="(pagination.currentPage + 1) <= pagination.totalPages">
                    <a href ng-click="pagination.set(pagination.currentPage + 1)">{{ pagination.currentPage + 1 }}</a>
                </li>
                <li ng-show="pagination.currentPage < pagination.totalPages">
                    <a href title="Следующая страница" ng-click="pagination.next()">&rarr;</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="units-row end">
        <div class="unit-100">
            <ul class="blocks-4">
                <li class="bouquet text-centered"
                    ng-repeat="bouquet in flowers.bouquets.items | bySection: app.currentSectionId | pagination: pagination.itemsOnPage:pagination.currentPage track by $id(bouquet)">
                    <div class="units-row end">
                        <div class="unit-100">
                            <a href="{{ '#/bouquet/' + bouquet.id.value }}">
                                <img src="{{ bouquet.imageUrl.value }}" alt=""/>
                            </a>
                        </div>
                    </div>
                    <div class="units-row end">
                        <div class="unit-100 text-left">
                            <a class="bouquet-title" href="{{ '#/bouquet/' + bouquet.id.value }}">{{ bouquet.title.value }}</a>
                        </div>
                    </div>
                    <div class="units-row end">
                        <div class="unit-40">
                            <span class="bouquet-price">{{ bouquet.price.value + " р." }}</span>
                        </div>
                        <div class="unit-60">
                            <button class="btn btn-small btn-red" ng-click="cart.add(bouquet.id.value, bouquet.price.value)">В корзину</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="units-row end" ng-show="flowers.bouquets._states_.loaded() === true">
        <div class="unit-50">
            &nbsp;
        </div>
        <div class="unit-50">
            <ul class="pagination bottom right" ng-show="pagination.totalPages > 1">
                <li ng-show="pagination.currentPage > 1">
                    <a href title="Предыдущая страница" ng-click="pagination.previous()">&larr;</a>
                </li>
                <li ng-show="(pagination.currentPage - 1) > 0">
                    <a href ng-click="pagination.set(pagination.currentPage - 1)">{{ pagination.currentPage - 1 }}</a>
                </li>
                <li class="active-page">
                    <a href ng-click="pagination.set(pagination.currentPage)">{{ pagination.currentPage }}</a>
                </li>
                <li ng-show="(pagination.currentPage + 1) <= pagination.totalPages">
                    <a href ng-click="pagination.set(pagination.currentPage + 1)">{{ pagination.currentPage + 1 }}</a>
                </li>
                <li ng-show="pagination.currentPage < pagination.totalPages">
                    <a href title="Следующая страница" ng-click="pagination.next()">&rarr;</a>
                </li>
            </ul>
        </div>
    </div>


</div>


