/**
*
**/
.gears-input {
  display: inline-block;
  height: 35px;
  font-size: 16px;
  border: 1px solid lightgrey;
}
/**
* TYPEAHEAD
**/
.gears-ui-typeahead {
  display: inline-block;
  height: 35px;
  font-size: 16px;
  border: 1px solid lightgrey;
}
.gears-ui-typeahead input {
  display: block;
  float: left;
  height: 33px;
  padding: 6px;
  border: none;
}
.gears-ui-typeahead .typeahead-clear-container {
  float: left;
  width: 25px;
  height: 30px;
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: center;
}
.gears-ui-typeahead .typeahead-clear-container a {
  text-decoration: none;
  font-family: "Helvetica";
  font-size: 28px;
  color: lightgrey;
}
.gears-ui-typeahead .typeahead-clear-container a:hover {
  color: gray;
}
/**
* DATEPICKER
**/
.gears-ui-datepicker {
  display: inline-block;
}
.gears-ui-datepicker .day {
  display: inline-block;
  width: 50px;
  height: 50px;
  padding: 5px;
  font-size: 18px;
  color: lightgrey;
  background: #FAFAFA;
  cursor: pointer;
}
.gears-ui-datepicker .day:hover {
  background: #F2EDEF;
}
