/**
*
**/
.gears-input {
  display: inline-block;
  height: 35px;
  font-size: 16px;
  border: 1px solid lightgrey;
}
/**
* TYPEAHEAD
**/
.gears-ui-typeahead {
  display: inline-block;
  height: 35px;
  font-size: 16px;
  border: 1px solid lightgrey;
}
.gears-ui-typeahead input {
  display: block;
  float: left;
  height: 33px;
  padding: 6px;
  border: none;
}
.gears-ui-typeahead .typeahead-clear-container {
  float: left;
  width: 25px;
  height: 30px;
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: center;
}
.gears-ui-typeahead .typeahead-clear-container a {
  text-decoration: none;
  font-family: "Helvetica";
  font-size: 28px;
  color: lightgrey;
}
.gears-ui-typeahead .typeahead-clear-container a:hover {
  color: gray;
}
/**
* DATEPICKER
**/
.gears-ui-datepicker {
  display: inline-block;
  width: 300px;
}
.gears-ui-datepicker .day {
  display: inline-block;
  position: relative;
  width: 14.29%;
  height: 40px;
  margin-bottom: -7px;
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  color: lightgrey;
  background: #F2F2F2;
  cursor: pointer;
  transition: 0.3s linear;
}
.gears-ui-datepicker .day:hover {
  color: gray;
  background: #EBECF0;
}
.gears-ui-datepicker .day:hover .day-number-label {
  font-size: 22px;
}
.gears-ui-datepicker .day.not-this-month {
  background: #FAF7F9;
}
.gears-ui-datepicker .day.not-this-month:hover {
  background: #EBECF0;
}
.gears-ui-datepicker .day .day-number-label {
  display: block;
  float: left;
  width: 100%;
  height: 17px;
  font-size: 18px;
}
.gears-ui-datepicker .day .day-weekday-label {
  display: block;
  float: left;
  width: 100%;
  height: 20px;
  font-size: 10px;
}
