/**
*
**/
@gears-input-height: 35px;
@gears-input-padding: 6px;
@gears-input-font-size: 16px;

.gears-input {
  display: inline-block;
  height: @gears-input-height;
  font-size: @gears-input-font-size;
  border: 1px solid lightgrey;
}


/**
* TYPEAHEAD
**/
.gears-ui-typeahead {
  .gears-input;

  input {
    display: block;
    float: left;
    height: @gears-input-height - 2px;
    padding: @gears-input-padding;
    border: none;
  }

  .typeahead-clear-container {
    float: left;
    width: 25px;
    height: 30px;
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: center;

    a {
      text-decoration: none;
      font-family: "Helvetica";
      font-size: 28px;
      color: lightgrey;

      &:hover {
        color: gray;
      }
    }

  }
}



/**
* DATEPICKER
**/
.gears-ui-datepicker {
  display: inline-block;

  .week {
    //border: 1px solid red;
  }

  .day {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 5px;
    font-size: 18px;
    color: lightgrey;
    background: #FAFAFA;
    cursor: pointer;
    //border: 1px solid black;
    
    &:hover {
      background: #F2EDEF;
    }
  }
}