html, body {
  height: 100%;
  //background: #F5D6B3;
}


#wrapper {
  position: relative;
  width: 1100px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  //background: #E6CDB1;
  //border-left: 1px solid grey;
  //border-right: 1px solid grey;
  //border: 1px solid red;
}


#logo {
  position: relative;
  float: left;
  //height: 150px;
  padding: 10px;
  padding-left: 0px;
  //border: 1px solid red;
}


#user {
  position: relative;
  float: left;
  padding-top: 30px;

  img {
    position: relative;
    float: left;
    width: 50px;
    margin-right: 10px;
  }

  a {
    color: #910D1F;
  }
}


#cart {
  position: relative;
  display: inline-block;
  float: left;
  padding-top: 30px;

  img {
    position: relative;
    float: left;
    width: 50px;
    margin-right: 10px;
  }

  .empty-cart {
    line-height: 16px;
    font-family: "Helvetica";
    font-size: 16px;
    text-align: center;
  }
}


#menu {
  //border: 1px solid red;
  background: #BD7D85;
  border: 3px solid #F2F0F0;

  .menu-item {
    position: relative;
    display: inline-block;
    float: left;
    width: 16.666666667%;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    color: white;

    &:hover {
      background: #B34D5B;
    }

    &.active {
      background: #910D1F;
    }
  }
}

#promo {
  height: 300px;
  padding-top: 10px;
  //border: 1px solid green;

  #banner {
    height: 100%;

    img {
      height: 100%;
    }
  }


  #chooser {
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background: #FAFAFA;
    border: 3px solid #F2F0F0;
    //border: 1px solid yellow;
    
    form {
      margin-top: 5px;
      margin-bottom: 10px;
    }

    label {
      margin-bottom: 10px;
    }

    select {
      padding: 5px;
    }
  }
}

#content {
  overflow: auto;

  .bouquet {
    padding: 10px;

    img {
      display: block;
      width: 250px;
      height: 230px;
      padding: 10px;
      border: 1px solid #910D1F;
      border-radius: 200px;
    }

    .bouquet-title {
      display: block;
      margin-top: 5px;
      margin-bottom: 5px;
      line-height: 17px;
      font-family: 'Lobster', cursive;
      font-size: 17px;
      text-decoration: none;
      color: #8F2231;
    }

    .bouquet-price {
      line-height: 36px;
      color: #910D1F;
      font-family: "Helvetica";
      font-size: 25px;
      font-weight: bold;
    }

  }

}


#footer {
  //height: 50px;
  padding: 5px;
  font-family: "Helvetica";
  font-size: 14px;
  color: white;
  background: #910D1F;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}


.block-header {
  //margin-bottom: 5px;
  padding: 5px;
  padding-top: 0px;
  font-family: 'Lobster', cursive;
  font-size: 18px;
  color: #910D1F;
  background: #FAFAFA;
  border-bottom: 1px dashed #910D1F;
}

.chapter-title {
  line-height: 22px;
  font-family: 'Lobster', cursive;
  font-size: 26px;
  color: #8F2231;
}






.gears-ui-slider {
  position: relative;
  height: 300px;

  img {
    display: block;
    position: relative;
    height: 100%;
    z-index: 1;
  }

  .arrow {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
    padding: 10px;
    font-family: "Verdana";
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: white;
    background: RGBA(0, 0, 0, 0.6);
    border-radius: 50px;
    cursor: pointer;
    z-index: 2;

    &:hover {
      background: black;
    }

    &.left {
      float: left;
      margin-left: 10px;
    }

    &.right {
      float: right;
      margin-right: 10px;
    }
  }

}
