html, body {
  height: 100%;
  //background: #F5D6B3;
}


#wrapper {
  position: relative;
  width: 1100px;
  height: 100%;
  min-height: 100%;
  margin-left: auto;
  margin-right: auto;
  //background: #E6CDB1;
  //border-left: 1px solid grey;
  //border-right: 1px solid grey;
  //border: 1px solid red;
}


#logo {
  position: relative;
  float: left;
  //height: 150px;
  padding: 10px;
  padding-left: 0px;
  //border: 1px solid red;
}


#user {
  position: relative;
  float: left;
  padding-top: 30px;

  img {
    position: relative;
    float: left;
    width: 50px;
    margin-right: 10px;
  }

  a {
    color: #910D1F;
  }
}


#cart {
  position: relative;
  display: inline-block;
  float: left;
  padding-top: 30px;

  img {
    position: relative;
    float: left;
    width: 50px;
    margin-right: 10px;
  }

  .empty-cart {
    line-height: 16px;
    font-family: "Helvetica";
    font-size: 16px;
    text-align: center;
  }
}


#menu {
  //border: 1px solid red;
  background: #BD7D85;
  border: 3px solid #F2F0F0;

  .menu-item {
    position: relative;
    display: inline-block;
    float: left;
    width: 14.285714286%;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    color: white;

    &:hover {
      background: #B34D5B;
    }

    &.active {
      background: #910D1F;
    }
  }
}

#promo {
  height: 300px;
  padding-top: 10px;
  //border: 1px solid green;

  #banner {
    height: 100%;

    img {
      height: 100%;
    }
  }


  #chooser {
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background: #FAFAFA;
    border: 3px solid #F2F0F0;
    //border: 1px solid yellow;
    
    form {
      margin-top: 5px;
      margin-bottom: 10px;
    }

    label {
      margin-bottom: 10px;
    }

    select {
      padding: 5px;
    }
  }
}

#content {
  overflow: auto;
  margin-bottom: -50px;
  min-height: 600px;

  .bouquet {
    padding: 10px;

    img {
      display: block;
      width: 250px;
      height: 230px;
      padding: 10px;
      border: 1px solid #910D1F;
      border-radius: 200px;
    }

    .bouquet-title {
      display: block;
      margin-top: 5px;
      margin-bottom: 5px;
      line-height: 17px;
      font-family: 'Lobster', cursive;
      font-size: 17px;
      text-decoration: none;
      color: #8F2231;
    }

    .bouquet-price {
      line-height: 36px;
      color: #910D1F;
      font-family: "Helvetica";
      font-size: 25px;
      font-weight: bold;
    }

  }

}


#footer {
  //height: 50px;
  position: relative;
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -50px;
  padding: 5px;
  font-family: "Helvetica";
  font-size: 14px;
  color: white;
  background: #910D1F;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}


.block-header {
  //margin-bottom: 5px;
  padding: 5px;
  padding-top: 0px;
  font-family: 'Lobster', cursive;
  font-size: 18px;
  color: #910D1F;
  background: #FAFAFA;
  border-bottom: 1px dashed #910D1F;
}

.chapter-title {
  line-height: 22px;
  font-family: 'Lobster', cursive;
  font-size: 26px;
  color: #8F2231;
}






.gears-ui-slider {
  position: relative;
  height: 300px;

  img {
    display: block;
    position: relative;
    height: 100%;
    z-index: 1;
  }

  .arrow {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
    padding: 10px;
    font-family: "Verdana";
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: white;
    background: RGBA(0, 0, 0, 0.6);
    border-radius: 50px;
    cursor: pointer;
    z-index: 2;

    &:hover {
      background: black;
    }

    &.left {
      float: left;
      margin-left: 10px;
    }

    &.right {
      float: right;
      margin-right: 10px;
    }
  }

}


.title-image {
  width: 110px;
  height: 110px;
  margin-top: -10px;
}

.title-caption {
  display: block;
  //padding-top: 10px;
  //margin-top: -10px;
  font-family: 'Lobster', cursive;
  font-size: 36px;
  line-height: 45px;
  color: #910D1F;
  border-bottom: 1px solid #910D1F;
}

.subtitle-caption {
  font-family: 'Lobster', cursive;
  font-size: 22px;
  line-height: 45px;
  color: #b2232f;
}




/*** ORDER ***/
#template-order {
  padding-top: 40px;

  select {
    padding: 7px;
    background: #fff;
    border: 1px solid #ccc;
  }

  #customer {
    padding-right: 15px;
    border-right: 1px dotted lightgrey;
  }

  #reciever {
    padding-left: 15px;
    padding-right: 20px;
  }
}


/*** CONFIRMATION ***/
#template-confirmation {
  padding-top: 40px;

  .confirmation-left {
    padding-right: 20px;
    border-right: 1px dotted lightgrey;
  }

  .confirmation-right {
    padding-left: 20px;
  }

  .conformation-order-label {
    line-height: 18px;
  }

  .confirmation-order-content {
    margin-bottom: 10px !important;
    font-style: italic;
    line-height: 18px;
  }

  .confirmation-success {
    margin-bottom: 20px;
    padding: 30px;
    background: #d5ecd9;
    border-radius: 4px;
    line-height: 18px;
    font-style: italic;

    .order-success-title {
      display: block;
      margin-bottom: 15px;
      font-family: 'Lobster', cursive;
      font-size: 26px;
      font-style: normal;
      color: #237f35;
    }
  }

  .confirmation-account {
    padding: 30px;
    background: #B4DCED;
    border-radius: 4px;
    line-height: 18px;
    font-style: italic;

    .confirmation-account-title {
      display: block;
      margin-bottom: 15px;
      font-family: 'Lobster', cursive;
      font-size: 26px;
      font-style: normal;
      color: #134da5;
    }
  }

  .confirmation-cart-items {
    padding-bottom: 10px;
    padding-right: 20px;

    img {
      width: 64px;
      height: 64px;
      border: 1px solid #FAB83E;
      border-radius: 64px;
    }
  }

  .confirmation-delivery {
    padding-right: 20px;
    margin-bottom: 10px !important;

    .delivery {
      padding-top: 16px;
      line-height: 14px;
    }

    img {
      width: 64px;
      height: 64px;
      //padding-left: 10px;
      //margin-left: 10px;
    }
  }

  .confirmation-total-price {
    margin-top: 5px !important;
    padding-right: 20px;
    padding-top: 10px;
    font-size: 24px;
    border-top: 1px dashed lightgrey;

    .total {
      font-size: 26px;
      font-weight: bold;
    }
  }
}



/*** CART ***/
#template-cart {
  padding-top: 40px;

  #cart-items {
    a {
      display: block;
      width: 200px;
      text-decoration: none;
    }

    .cart-item {
      margin-bottom: 20px !important;
    }

    .item-title {
      position: relative;
      display: block;
      width: 200px;
      height: 50px;
      margin-top: -50px;
      padding: 3px;
      padding-top: 10px;
      font-family: 'Lobster', cursive;
      font-size: 18px;
      line-height: 15px;
      color: midnightblue;
      background: rgba(237, 155, 0, 0.5);
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      vertical-align: top;
      text-align: center;
    }

    .amount {
      margin-top: 10px;
      margin-left: -5px;
      margin-right: -5px;
      padding-top: 20px;
      padding-bottom: 20px;
      font-size: 40px;
      //border: 1px solid lightgrey;
    }

    .item-price {
      display: inline-block;
      margin-top: 90px;
      //font-family: 'Lobster', cursive;
      font-family: "Helvetica";
      font-size: 30px;
      color: #445588;
    }

    img {
      position: relative;
      display: block;
      width: 200px;
      height: 200px;
      //z-index: 5;
      border: 1px solid #FFC800;
      border-bottom: 1px solid lightgrey;
      border-radius: 4px;
    }
  }

  #cart-no-items {
    padding-top: 50px;
    font-family: 'Lobster', cursive;
    font-size: 20px;
    color: lightgrey;

    img {
      margin-top: -5px;
    }
  }

  #total-summ {
    padding-top: 20px;
    border-top: 1px dashed black;

    .total {
      font-family: 'Lobster', cursive;
      //font-family: "Helvetica";
      font-size: 25px;
    }

    .total-summ-value {
      //font-family: 'Lobster', cursive;
      font-family: "Helvetica";
      font-size: 32px;
      font-weight: bold;
      color: #b2232f;
    }
  }
}


/*** CONTACTS ***/
#template-contacts {
  padding-top: 40px;
}



/*** BOUQUET ***/
.bouquet-item-images {
  padding-top: 40px;

  img {
    height: 450px;
    border: 1px solid #FFC800;
    border-radius: 2px;
  }

  ul {
    img {
      height: 80px;
      border: 1px solid lightgrey;
      border-radius: 2px;

      &:hover {
        border: 1px solid #FFC800;
      }
    }
  }
}

.bouquet-item-description {
  padding-top: 40px;

  .bouquet-title {
    font-family: 'Lobster', cursive;
    font-size: 33px;
    color: #237f35;
  }

  .bouquet-price {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 15px;
    font-family: 'Lobster', cursive;
    font-size: 40px;
    color: #F74D63;
  }

  .bouquet-flowers {
    line-height: 22px;
    margin-bottom: 7px !important;

    img {
      width: 50px;
      height: 50px;
      padding: 2px;
      background: white;
      border: 2px solid #FFC800;
      border-radius: 50px;
    }
  }
}

.related-bouquets {
  margin-top: 50px;
  background: #d3e3fb;
  padding: 10px;
  border-radius: 2px;

  &.same-price {
    background: #DDEDDD;
  }

  .title {
    margin-bottom: 10px !important;
    font-family: 'Lobster', cursive;
    font-size: 20px;
    color: #1a52a5;
  }

  img {
    height: 130px;
    border: 1px solid lightgrey;
  }

  ul {
    margin-bottom: 0px !important;
  }
}

.service-info {
  line-height: 20px;
  //font-family: "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  //font-size: 16px;
  font-size: 17px;
  color: #A39E95;

  img {
    width: 64px;
    height: 64px;
  }

  .service-content {
    //padding-top: 10px;
    line-height: 17px;
    font-family: "Helvetica";
    font-size: 15px;
    font-style: italic;
  }

  .service-caption {
    font-family: 'Lobster', cursive;
    font-style: normal;
    font-size: 17px;
    color: #0869A6;
  }
}

.bouquet-content {
  border-collapse: separate;
  border-spacing: 5px;
}