html,
body {
  height: 100%;
}
#wrapper {
  position: relative;
  width: 1100px;
  height: 100%;
  min-height: 100%;
  margin-left: auto;
  margin-right: auto;
}
#logo {
  position: relative;
  float: left;
  padding: 10px;
  padding-left: 0px;
}
#user {
  position: relative;
  float: left;
  padding-top: 30px;
}
#user img {
  position: relative;
  float: left;
  width: 50px;
  margin-right: 10px;
}
#user a {
  color: #910D1F;
}
#cart {
  position: relative;
  display: inline-block;
  float: left;
  padding-top: 30px;
}
#cart img {
  position: relative;
  float: left;
  width: 50px;
  margin-right: 10px;
}
#cart .empty-cart {
  line-height: 16px;
  font-family: "Helvetica";
  font-size: 16px;
  text-align: center;
}
#menu {
  background: #BD7D85;
  border: 3px solid #F2F0F0;
}
#menu .menu-item {
  position: relative;
  display: inline-block;
  float: left;
  width: 14.285714286%;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  color: white;
}
#menu .menu-item:hover {
  background: #B34D5B;
}
#menu .menu-item.active {
  background: #910D1F;
}
#promo {
  height: 300px;
  padding-top: 10px;
}
#promo #banner {
  height: 100%;
}
#promo #banner img {
  height: 100%;
}
#promo #chooser {
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background: #FAFAFA;
  border: 3px solid #F2F0F0;
}
#promo #chooser form {
  margin-top: 5px;
  margin-bottom: 10px;
}
#promo #chooser label {
  margin-bottom: 10px;
}
#promo #chooser select {
  padding: 5px;
}
#content {
  overflow: auto;
  margin-bottom: -50px;
  min-height: 600px;
}
#content .bouquet {
  padding: 10px;
}
#content .bouquet img {
  display: block;
  width: 250px;
  height: 230px;
  padding: 10px;
  border: 1px solid #910D1F;
  border-radius: 200px;
}
#content .bouquet .bouquet-title {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 17px;
  font-family: 'Lobster', cursive;
  font-size: 17px;
  text-decoration: none;
  color: #8F2231;
}
#content .bouquet .bouquet-price {
  line-height: 36px;
  color: #910D1F;
  font-family: "Helvetica";
  font-size: 25px;
  font-weight: bold;
}
#footer {
  position: relative;
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -50px;
  padding: 5px;
  font-family: "Helvetica";
  font-size: 14px;
  color: white;
  background: #910D1F;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.block-header {
  padding: 5px;
  padding-top: 0px;
  font-family: 'Lobster', cursive;
  font-size: 18px;
  color: #910D1F;
  background: #FAFAFA;
  border-bottom: 1px dashed #910D1F;
}
.chapter-title {
  line-height: 22px;
  font-family: 'Lobster', cursive;
  font-size: 26px;
  color: #8F2231;
}
.gears-ui-slider {
  position: relative;
  height: 300px;
}
.gears-ui-slider img {
  display: block;
  position: relative;
  height: 100%;
  z-index: 1;
}
.gears-ui-slider .arrow {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
  padding: 10px;
  font-family: "Verdana";
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 50px;
  cursor: pointer;
  z-index: 2;
}
.gears-ui-slider .arrow:hover {
  background: black;
}
.gears-ui-slider .arrow.left {
  float: left;
  margin-left: 10px;
}
.gears-ui-slider .arrow.right {
  float: right;
  margin-right: 10px;
}
.title-image {
  width: 110px;
  height: 110px;
  margin-top: -10px;
}
.title-caption {
  display: block;
  font-family: 'Lobster', cursive;
  font-size: 36px;
  line-height: 45px;
  color: #910D1F;
  border-bottom: 1px solid #910D1F;
}
.subtitle-caption {
  font-family: 'Lobster', cursive;
  font-size: 22px;
  line-height: 45px;
  color: #b2232f;
}
/*** ORDER ***/
#template-order {
  padding-top: 40px;
}
#template-order select {
  padding: 7px;
  background: #fff;
  border: 1px solid #ccc;
}
#template-order #customer {
  padding-right: 15px;
  border-right: 1px dotted lightgrey;
}
#template-order #reciever {
  padding-left: 15px;
  padding-right: 20px;
}
/*** CONFIRMATION ***/
#template-confirmation {
  padding-top: 40px;
}
#template-confirmation .confirmation-left {
  padding-right: 20px;
  border-right: 1px dotted lightgrey;
}
#template-confirmation .confirmation-right {
  padding-left: 20px;
}
#template-confirmation .conformation-order-label {
  line-height: 18px;
}
#template-confirmation .confirmation-order-content {
  margin-bottom: 10px !important;
  font-style: italic;
  line-height: 18px;
}
#template-confirmation .confirmation-success {
  margin-bottom: 20px;
  padding: 30px;
  background: #d5ecd9;
  border-radius: 4px;
  line-height: 18px;
  font-style: italic;
}
#template-confirmation .confirmation-success .order-success-title {
  display: block;
  margin-bottom: 15px;
  font-family: 'Lobster', cursive;
  font-size: 26px;
  font-style: normal;
  color: #237f35;
}
#template-confirmation .confirmation-account {
  padding: 30px;
  background: #B4DCED;
  border-radius: 4px;
  line-height: 18px;
  font-style: italic;
}
#template-confirmation .confirmation-account .confirmation-account-title {
  display: block;
  margin-bottom: 15px;
  font-family: 'Lobster', cursive;
  font-size: 26px;
  font-style: normal;
  color: #134da5;
}
#template-confirmation .confirmation-cart-items {
  padding-bottom: 10px;
  padding-right: 20px;
}
#template-confirmation .confirmation-cart-items img {
  width: 64px;
  height: 64px;
  border: 1px solid #FAB83E;
  border-radius: 64px;
}
#template-confirmation .confirmation-delivery {
  padding-right: 20px;
  margin-bottom: 10px !important;
}
#template-confirmation .confirmation-delivery .delivery {
  padding-top: 16px;
  line-height: 14px;
}
#template-confirmation .confirmation-delivery img {
  width: 64px;
  height: 64px;
}
#template-confirmation .confirmation-total-price {
  margin-top: 5px !important;
  padding-right: 20px;
  padding-top: 10px;
  font-size: 24px;
  border-top: 1px dashed lightgrey;
}
#template-confirmation .confirmation-total-price .total {
  font-size: 26px;
  font-weight: bold;
}
/*** CART ***/
#template-cart {
  padding-top: 40px;
}
#template-cart #cart-items a {
  display: block;
  width: 200px;
  text-decoration: none;
}
#template-cart #cart-items .cart-item {
  margin-bottom: 20px !important;
}
#template-cart #cart-items .item-title {
  position: relative;
  display: block;
  width: 200px;
  height: 50px;
  margin-top: -50px;
  padding: 3px;
  padding-top: 10px;
  font-family: 'Lobster', cursive;
  font-size: 18px;
  line-height: 15px;
  color: midnightblue;
  background: rgba(237, 155, 0, 0.5);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  vertical-align: top;
  text-align: center;
}
#template-cart #cart-items .amount {
  margin-top: 10px;
  margin-left: -5px;
  margin-right: -5px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 40px;
}
#template-cart #cart-items .item-price {
  display: inline-block;
  margin-top: 90px;
  font-family: "Helvetica";
  font-size: 30px;
  color: #445588;
}
#template-cart #cart-items img {
  position: relative;
  display: block;
  width: 200px;
  height: 200px;
  border: 1px solid #FFC800;
  border-bottom: 1px solid lightgrey;
  border-radius: 4px;
}
#template-cart #cart-no-items {
  padding-top: 50px;
  font-family: 'Lobster', cursive;
  font-size: 20px;
  color: lightgrey;
}
#template-cart #cart-no-items img {
  margin-top: -5px;
}
#template-cart #total-summ {
  padding-top: 20px;
  border-top: 1px dashed black;
}
#template-cart #total-summ .total {
  font-family: 'Lobster', cursive;
  font-size: 25px;
}
#template-cart #total-summ .total-summ-value {
  font-family: "Helvetica";
  font-size: 32px;
  font-weight: bold;
  color: #b2232f;
}
/*** CONTACTS ***/
#template-contacts {
  padding-top: 40px;
}
