html, body {
  height: 100%;
  //background: #F5D6B3;
}


#wrapper {
  position: relative;
  width: 1100px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  //background: #E6CDB1;
  //border-left: 1px solid grey;
  //border-right: 1px solid grey;
  //border: 1px solid red;
}


#logo {
  position: relative;
  //height: 150px;
  padding: 10px;
  //border: 1px solid red;
}

#menu {
  //border: 1px solid red;
  background: #BD7D85;
  border: 3px solid #F2F0F0;

  ul {
    margin-bottom: 0px;

    li {
      margin-bottom: 0px;
      //margin-left: 0px;
      padding: 5px;
      text-align: center;
      border-right: 1px dotted white;
      &.active {
        color: white;
        background: #910D1F;
      }
    }
  }
}

#promo {
  height: 300px;
  padding-top: 10px;
  //border: 1px solid green;

  #banner {
    height: 100%;
    //border: 1px solid blue;

    img {
      height: 100%;
    }
  }


  #chooser {
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background: #FAFAFA;
    //border: 1px solid yellow;
    
    form {
      margin-top: 5px;
      margin-bottom: 10px;
    }

    label {
      margin-bottom: 10px;
    }

    select {
      padding: 5px;
    }
  }
}

#content {
  overflow: auto;

  .bouquet {
    padding: 10px;

    img {
      display: block;
      width: 250px;
      height: 230px;
      padding: 10px;
      border: 1px solid #910D1F;
      border-radius: 200px;
    }

    .bouquet-title {
      display: block;
      margin-top: 5px;
      margin-bottom: 5px;
      line-height: 17px;
      font-family: 'Lobster', cursive;
      font-size: 17px;
      color: #8F2231;
    }

    .bouquet-price {
      line-height: 36px;
      color: #910D1F;
      font-family: "Helvetica";
      font-size: 25px;
      font-weight: bold;
    }

  }

}


#footer {
  //height: 50px;
  padding: 5px;
  font-family: "Helvetica";
  font-size: 14px;
  color: white;
  background: #910D1F;
}


.block-header {
  //margin-bottom: 5px;
  padding: 5px;
  color: white;
  background: #C70822;
}


