<!-- BEGIN: main -->
<!DOCTYPE html>
<html ng-app="gears.admin">
<head lang="en">
    <meta charset="UTF-8">
    <title>{{ admin.title }}</title>
    <link rel="stylesheet" href="../resources/styles/kube.min.css"/>
    <link rel="stylesheet" href="../resources/styles/gears.css"/>
    <link rel="stylesheet" href="resources/styles/lotos.admin.css"/>
    <script src="../libs/angularjs/angular.min.js"></script>
</head>
<body>
    <div class="units-row units-split">
        <div class="unit-20">
            <nav class="nav nav-stacked">
                <ul>
                    <li><a href="#/orders">Заказы</a></li>
                    <li><a href="#/bouquets">Букеты</a></li>
                    <li><a href="#/flowers">Цветы</a></li>
                    <li><a href="#/additions">Декоративные элементы</a></li>
                </ul>
            </nav>
        </div>
        <div class="unit-80" id="admin-content" ng-view>

        </div>
    </div>

    <!-- Подключение библиотек и модулей -->
    <script src="../libs/momentjs/moment-with-locales.min.js"></script>
    <script src="../libs/angularjs/angular-route.min.js"></script>
    <script src="../libs/angularjs/angular-cookies.min.js"></script>
    <script src="../libs/gearsjs/gears.js"></script>
    <script src="../libs/gearsjs/gears.auth.js"></script>
    <script src="../libs/gearsjs/gears.ui.js"></script>

    <script src="modules/gears.admin.js"></script>
    <script src="modules/gears.admin.controllers.js"></script>
    <script src="modules/gears.admin.filters.js"></script>
    <script src="../modules/gears.app.bouquets.js"></script>
    <script src="../modules/gears.app.orders.js"></script>
    <script src="../modules/gears.app.misc.js"></script>
    <script src="../modules/gears.app.filters.js"></script>
</body>
</html>
<!-- END: main -->