<div id="template-confirmation" class="units-row">

    <!--
    <div class="unit-25">
    -->
        <!-- Способы оплаты -->
    <!--
        <div class="units-row side-panel lightgreen">
            <div class="units-row end">
                <div class="unit-100">
                    <span class="caption green">Мы принимаем к оплате</span>
                </div>
            </div>
            <div class="units-row end">
                <div class="unit-30">
                    <img src="resources/img/cash.png" alt=""/>
                </div>
                <div class="unit-70 text-left">
                    <span class="sidebar-leading">Наличные деньги</span>
                    <span class="sidebar-text">Оплата при получении заказа</span>
                </div>
            </div>
            <div class="units-row end">
                <div class="unit-30">
                    <img src="resources/img/visa.png" alt=""/>
                </div>
                <div class="unit-70">
                    <span class="sidebar-leading">карты Visa</span>
                    <span class="sidebar-text">
                        Оплата при получении заказа, через терминал
                    </span>
                </div>
            </div>
            <div class="units-row end">
                <div class="unit-30">
                    <img src="resources/img/mastercard.png" alt=""/>
                </div>
                <div class="unit-70 text-left">
                    <span class="sidebar-leading">карты MasterCard</span>
                    <span class="sidebar-text">
                        Оплата при получении заказа, через терминал
                    </span>
                </div>
            </div>
        </div>
        -->

        <!-- Доставка -->
    <!--
        <div class="units-row side-panel purple">
            <div class="units-row end">
                <div class="unit-100">
                    <span class="caption purple">Условия доставки</span>
                </div>
            </div>
            <div class="units-row end">
                <div class="unit-30">
                    <img src="resources/img/money.png" alt=""/>
                </div>
                <div class="unit-70">
                    <span class="sidebar-leading">Стоимость</span>
                    <span class="sidebar-text">В Мурманск, Североморск - 350 р.</span>
                </div>
            </div>
            <div class="units-row end">
                <div class="unit-30">
                    <img src="resources/img/clock.png" alt=""/>
                </div>
                <div class="unit-70">
                    <span class="sidebar-leading">Сроки</span>
                    <span class="sidebar-text">Доставим Ваш заказ в течении 2-х часов</span>
                </div>
            </div>
            <div class="units-row end">
                <div class="unit-30">
                    <img src="resources/img/box.png" alt=""/>
                </div>
                <div class="unit-70">
                    <span class="sidebar-leading">Самовывоз</span>
                    <span class="sidebar-text">Ежедневно, в нашем офисе, круглосуточно</span>
                </div>
            </div>
        </div>
        -->


        <!-- Гарантия качества -->
    <!--
        <div class="units-row side-panel lightblue">
            <div class="units-row end units-split">
                <div class="unit-100">
                    <span class="caption blue">Гарантия качества</span>
                </div>
            </div>
            <div class="units-row end">
                <div class="unit-30">
                    <img src="resources/img/flower.png" alt=""/>
                </div>
                <div class="unit-70">
                    <span class="sidebar-leading">Только свежие цветы</span>
                    <span class="sidebar-text">Букет еще долго будет радовать Вас</span>
                </div>
            </div>
        </div>
    </div>
    -->
    <div class="unit-100">

        <!-- Заголовок -->
        <div class="units-row end units-split">
            <div class="unit-90 text-left">
                <span class="title-caption">Подтверждение заказа</span>
            </div>
            <div class="unit-10">
                <img class="title-image" src="resources/img/confirmation.png" alt=""/>
            </div>
        </div>



        <div class="units-row end units-split">
            <div class="units-row end">
                <div class="unit-100">
                    <span class="subtitle-caption">
                        Товары
                    </span>
                </div>
            </div>

            <div class="units-row end confirmation-cart-items" ng-repeat="product in cart.items.items" ng-init="bq = flowers.bouquets.find('id', product.productId)">
                <div class="unit-10">
                    <a href="{{ '#/' + bouquet.productId }}">
                        <img src="{{ bq.imageUrl.value }}" alt=""/>
                    </a>
                </div>
                <div class="unit-70 text-left">
                    {{ bq.title.value }}
                </div>
                <div class="unit-10 text-right">
                    {{ product.amount + " шт." }}
                </div>
                <div class="unit-10 text-right">
                    {{ bq.price.value * product.amount + " р." }}
                </div>
            </div>

            <div class="units-row confirmation-delivery" ng-show="application.currentOrder.deliveryMethodId.value === 2">
                <div class="unit-10">
                    <img src="resources/img/delivery_icon.png" alt=""/>
                </div>
                <div class="unit-70 delivery">
                    Доставка<br>
                    <span class="sidebar-text grey" ng-init="ct = misc.cities.find('id', application.currentOrder.addressCityId.value)">
                        {{ "в " + ct.title.value }}
                    </span>
                </div>
                <div class="unit-20 text-right">
                    {{ misc.deliveryMethods.find('id', application.currentOrder.deliveryMethodId.value).price.value + " р."}}
                </div>
            </div>

            <div class="units-row confirmation-total-price" ng-init="dm = misc.deliveryMethods.find('id', application.currentOrder.deliveryMethodId.value)">
                <div class="unit-50">
                    Итого:
                </div>
                <div class="unit-50 text-right total">
                    {{ cart.price() + dm.price.value + " р." }}
                </div>
            </div>
        </div>



        <div class="units-row units-split">

            <!-- Информация о заказчике, комментарий к заказу, способ оплаты -->
            <div class="unit-50 confirmation-left">
                <div class="units-row end">
                    <div class="unit-100">
                            <span class="subtitle-caption">
                                Заказчик
                            </span>
                    </div>
                </div>

                <div class="units-row end">
                    <div class="unit-30 conformation-order-label">
                        Имя:
                    </div>
                    <div class="unit-70 confirmation-order-content">
                        {{ application.currentOrder.customerName.value + " " + application.currentOrder.customerFname.value + " " + application.currentOrder.customerSurname.value }}
                    </div>
                </div>

                <div class="units-row">
                    <div class="unit-30 conformation-order-label">
                        Контакты:
                    </div>
                    <div class="unit-70 confirmation-order-content">
                        <div class="units-row end">
                            <div class="unit-100">
                                {{ application.currentOrder.customerPhone.value }}
                            </div>
                        </div>
                        <div class="units-row end">
                            <div class="unit-100">
                                {{ application.currentOrder.customerEmail.value }}
                            </div>
                        </div>
                    </div>
                </div>


                <div class="units-row end units-split">
                    <div class="unit-100">
                            <span class="subtitle-caption">
                                О заказе
                            </span>
                    </div>
                    <div class="units-row end">
                        <div class="unit-30 conformation-order-label">
                            Комментарий к заказу:
                        </div>
                        <div class="unit-70 confirmation-order-content">
                            <span ng-show="application.currentOrder.comment.value !== ''">{{ application.currentOrder.comment.value }}</span>
                            <span ng-show="application.currentOrder.comment.value === ''">Отсутствует</span>
                        </div>
                    </div>
                    <div class="units-row">
                        <div class="unit-30 conformation-order-label">
                            Способ оплаты:
                        </div>
                        <div class="unit-70 confirmation-order-content">
                            {{ misc.paymentMethods.find("id", application.currentOrder.paymentMethodId.value).title.value }}
                        </div>
                    </div>
                </div>
            </div>


            <!-- Информация о получателе, адрес доставки -->
            <div class="unit-50 confirmation-right">

                <div class="units-row end" ng-show="application.currentOrder.customerIsReciever.value === false">
                    <div class="unit-100">
                        <span class="subtitle-caption">
                            Получатель
                        </span>
                    </div>
                </div>

                <div class="units-row end" ng-show="application.currentOrder.customerIsReciever.value === false">
                    <div class="unit-30 conformation-order-label">
                        Имя:
                    </div>
                    <div class="unit-70 confirmation-order-content">
                        {{ application.currentOrder.recieverName.value + " " + application.currentOrder.recieverFname.value + " " +
                        application.currentOrder.recieverSurname.value }}
                    </div>
                </div>

                <div class="units-row" ng-show="application.currentOrder.customerIsReciever.value === false">
                    <div class="unit-30 conformation-order-label">
                        Контактный телефон:
                    </div>
                    <div class="unit-70 confirmation-order-content">
                        <div class="units-row end">
                            <div class="unit-100">
                                {{ application.currentOrder.recieverPhone.value }}
                            </div>
                        </div>
                    </div>
                </div>


                <div class="units-row end units-split" ng-show="application.currentOrder.deliveryMethodId.value !== 1">
                    <div class="unit-100">
                        <span class="subtitle-caption">
                            Адрес доставки
                        </span>
                    </div>
                    <div class="units-row end">
                        <div class="unit-30 confirmation-order-label">
                            Адрес доставки:
                        </div>
                        <div class="unit-70 confirmation-order-content">
                            {{ "г. " + misc.cities.find("id", application.currentOrder.addressCityId.value).title.value + ", ул. " + application.currentOrder.addressStreet.value + ", дом " + application.currentOrder.addressBuilding.value }}
                            <span ng-show="application.currentOrder.addressBuildingIndex.value !== ''">{{ " / " + application.currentOrder.addressBuildingIndex.value }}</span>
                            {{ ", кв." + application.currentOrder.addressFlat.value }}
                        </div>
                    </div>
                    <!--
                    <div class="units-row end">
                        <div class="unit-30 conformation-order-label">
                            Дата и время доставки:
                        </div>
                        <div class="unit-70 confirmation-order-content">
                            {{ application.currentOrder.deliveryStartPeriod.value }}
                        </div>
                    </div>
                    -->
                </div>


                <div class="units-row end units-split" ng-show="application.currentOrder.deliveryMethodId.value === 1">
                    <div class="unit-100">
                        <span class="subtitle-caption">
                            Адрес для самовывоза
                        </span>
                    </div>
                    <div class="units-row end">
                        <span class="sidebar-text"> Забрать Ваш заказ Вы можете по адресу:<br>
                        город Североморск, улица Советская, дом 4.<br>
                        Мы работаем круглосуточно.</span>
                    </div>
                </div>

            </div>

        </div>


        <div class="units-row units-split confirmation-success" ng-show="orderIsConfirmed === true">
            <div class="unit-20">
                <img src="resources/img/success.png" alt="Ваш заказ принят"/>
            </div>
            <div class="unit-80">
                <div class="units-row end">
                    <div class="unit-100">
                        <span class="order-success-title">Ваш заказ принят</span>
                    </div>
                </div>
                <div class="units-row">
                    <div class="unit-100">
                        Благодарим Вас за заказ в нашем магазине.<br> В ближайшее время с Вами свяжется наш менеджер для уточнения деталей Вашего заказа.<br>
                        <a href="#/">Продолжить покупки</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="units-row units-split confirmation-account" ng-show="accountIsCreated === true">
            <div class="unit-20">
                <img src="resources/img/woman.png" alt="Для Вас создана учетная запись"/>
            </div>
            <div class="unit-80">
                <div class="units-row end">
                    <div class="unit-100">
                        <span class="confirmation-account-title">Мы создали для Вас учетную запись</span>
                    </div>
                </div>
                <div class="units-row">
                    <div class="unit-100">
                        Вы можете заходить на сайт, используя Вашу электронную почту.<br>
                        Мы отправили Вам письмо с информацией о Вашей учетной записи.<br>
                        <a href="#/account">Перейти в личный кабинет</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="units-row" ng-show="orderIsConfirmed === false">
            <div class="unit-50">
                <button class="btn btn-yellow btn-big right width-100" ng-click="gotoOrder()">Изменить детали заказа</button>
            </div>
            <div class="unit-50 text-centered">
                <button class="btn btn-green btn-big right width-100"
                        ng-click="application.currentOrder._states_.loaded(false); orders.add(application.currentOrder, session.user.get().id.value, cart.items.items, cart.price(), onSuccessAddOrder)">
                    Подтвердить заказ
                </button>
            </div>
        </div>

        <div class="units-row" ng-show="application.currentOrder._states_.loaded() === false">
            <div class="unit-100 text-centered">
                <img src="resources/img/loading.gif" alt=""/>&nbsp; &nbsp;
                <span>Мы обрабатываем Ваш заказ...</span>
            </div>
        </div>
    </div>
</div>