<div id="template-contacts" class="units-row">
    <!--
    <div class="unit-25">
    -->

        <!-- Способы оплаты -->
    <!--
        <div class="units-row side-panel lightgreen">
            <div class="units-row end">
                <div class="unit-100">
                    <span class="caption green">Мы принимаем к оплате</span>
                </div>
            </div>
            <div class="units-row end">
                <div class="unit-30">
                    <img src="resources/img/cash.png" alt=""/>
                </div>
                <div class="unit-70 text-left">
                    <span class="sidebar-leading">Наличные деньги</span>
                    <span class="sidebar-text">Оплата при получении заказа</span>
                </div>
            </div>
            <div class="units-row end">
                <div class="unit-30">
                    <img src="resources/img/visa.png" alt=""/>
                </div>
                <div class="unit-70">
                    <span class="sidebar-leading">карты Visa</span>
                    <span class="sidebar-text">
                        Оплата при получении заказа, через терминал
                    </span>
                </div>
            </div>
            <div class="units-row end">
                <div class="unit-30">
                    <img src="resources/img/mastercard.png" alt=""/>
                </div>
                <div class="unit-70 text-left">
                    <span class="sidebar-leading">карты MasterCard</span>
                    <span class="sidebar-text">
                        Оплата при получении заказа, через терминал
                    </span>
                </div>
            </div>
        </div>
        -->

        <!-- Доставка -->
    <!--
        <div class="units-row side-panel purple">
            <div class="units-row end">
                <div class="unit-100">
                    <span class="caption purple">Условия доставки</span>
                </div>
            </div>
            <div class="units-row end">
                <div class="unit-30">
                    <img src="resources/img/money.png" alt=""/>
                </div>
                <div class="unit-70">
                    <span class="sidebar-leading">Стоимость</span>
                    <span class="sidebar-text">В Мурманск, Североморск - 350 р.</span>
                </div>
            </div>
            <div class="units-row end">
                <div class="unit-30">
                    <img src="resources/img/clock.png" alt=""/>
                </div>
                <div class="unit-70">
                    <span class="sidebar-leading">Сроки</span>
                    <span class="sidebar-text">Доставим Ваш заказ в течении 2-х часов</span>
                </div>
            </div>
            <div class="units-row end">
                <div class="unit-30">
                    <img src="resources/img/box.png" alt=""/>
                </div>
                <div class="unit-70">
                    <span class="sidebar-leading">Самовывоз</span>
                    <span class="sidebar-text">Ежедневно, в нашем офисе, круглосуточно</span>
                </div>
            </div>
        </div>
        -->


        <!-- Гарантия качества -->
    <!--
        <div class="units-row side-panel lightblue">
            <div class="units-row end units-split">
                <div class="unit-100">
                    <span class="caption blue">Гарантия качества</span>
                </div>
            </div>
            <div class="units-row end">
                <div class="unit-30">
                    <img src="resources/img/flower.png" alt=""/>
                </div>
                <div class="unit-70">
                    <span class="sidebar-leading">Только свежие цветы</span>
                    <span class="sidebar-text">Букет еще долго будет радовать Вас</span>
                </div>
            </div>
        </div>

    </div>
    -->
    <div class="unit-100">

        <!-- Заголовок -->
        <div class="units-row end units-split">
            <div class="unit-90 text-left">
                <span class="title-caption">Контакты</span>
            </div>
            <div class="unit-10">
                <img class="title-image" src="resources/img/contacts.png" alt=""/>
            </div>
        </div>


        <div class="units-row end units-split">
            <div class="unit-40">
                <img src="resources/img/map.png" alt=""/>
            </div>
            <div class="unit-10">&nbsp;</div>
            <div class="unit-40 text-left">
                <div class="units-row">
                    <div class="unit-100">
                        <b>Наш адрес:</b><br>
                        <i>город Североморск, улица Советская, дом 4.<br>(недалеко от ТЦ "Гриф")</i>
                    </div>
                </div>
                <div class="units-row">
                    <div class="unit-100">
                        <b>Время работы:</b><br>
                        <i>Мы работаем круглосуточно, без выходных и перерыва на обед.</i>
                    </div>
                </div>
                <div class="units-row">
                    <div class="unit-100">
                        <b>Как с нами связаться:</b><br>
                        <i>(8152) 208-205</i><br>
                        <a href="mailto: mail@mail.ru"><i>lotos51ru@mail.ru</i></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>